{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <br>
      <p class="h1 font-weight-bold text-primary text-center">Welcome! to the Biometric Attendance</p>
      <br>
    </div>
    <div class="container">
      <div class="jumbotron bg-dark">
        <h4 class="h3 text-info">Abstract</h4>

          <p class="lead text-white">
            This project uses a biometric concept to facilitate the atendance sysytem in education institutes. It uses the most reliable way of uniquely identifying students through fingerprint analysis. A fingerprint-based biometric system is a good combination of low cost and high accuracy. Through this application, we can keep a systematic class attendance with fewer efforts.
          </p>
          <br>
          <p class="lead text-light">
            In the precent system, the most common word to take student attendance in the classroom is by reading out the names or numbers of each student and mark the attendance manually in a register. This system requires a lot of paperwork. All calculations to generate report are done manually so there is a greater chance of errors. The existing system is not user-friendly because the retrival of data is very slow and data is not maintained effectively. This approch, like manully taking and maintaining the attendance records is an inconvenient task.
          </p>
          <br>
          <p class="lead text-light">
            The proposed system aims to automate the old and hectic process of manually taking and storing student attendance records. The records are securly stored and can be reliably retrived whenever required by the teacher. This biometric student attendance system increase the efficiency of the process of taking student attendance. The presence of each student will be updated and the data will be passed to the server.
          </p>
          <br>
          <p class="lead text-light">
            The project collects attendance in the form of an Internet of Things (IoT) based system that records the attendance using fingerprint-based biometric scanner and store them securly. Here, Raspberry Pi is used to build a low-cost biometric system with the help of fingerprint scanner and python. Our module enrolls the student's fingerprints. This enrolling is onetime process and their fingerprints will be stored in a database. Here person's authentication is done by updating time and attendance to a Web Server.
          </p>
          <br>
          <p class="lead text-light">
            The following project gives automated calculated attendance of a particular student within no time. All web protal can only access by the authorized person, so the  attendance data will be always secured.
          </p>

      </div>
    </div>
{% endblock %}
